body {
    margin: 0;
    font-family: monospace;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

input,
select,
textarea,
button {
    font-family: inherit;
}

input,
textarea {
    outline: none;
}

ul {
    margin: 0;
}

.anakutu {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 1.5rem;
    margin-top: calc(50px + 2rem); /* topbar artık fixed (50px), 2rem de güzel dursun diye kemikte */

    min-height: 0;
}

.yazi-blok {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: large;

    margin-bottom: 1rem;
}

.as-yazi-tarih {
    color: gray;
    white-space: nowrap;
}

.anasayfa-baslik {
    font-size: 2em;
    font-weight: bold;

    margin-bottom: 1rem;
}

/* OKUMA SAYFASI */
.yazi-tarih {
    color: gray;
    font-size: large;
    margin-bottom: 0.2rem;
}

.yazi-baslik {
    font-size: 1.7em;
    font-weight: bold;
}

.yazi-wrapper {
    font-size: large;
}

.yatay-cizgi {
    border: none; 
    border-bottom: 1px solid lightgray;

    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

/* YAZI EKRANI */
.oku-index-layout {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.oku-anakutu {
    align-items: center;

    width: 50%;
}

@media (max-width: 768px) {
    .oku-index-layout {
        display: block;
    }
    
    .oku-anakutu {
        align-items: normal;
        width: auto;
    }
}