/* TOPBAR */
.topbar {
    position: fixed;
    
    top: 0;
    right: 0;
    left: 0;

    height: 50px;

    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    border: 1px lightgray solid;

    z-index: 1000;
}

.topbar-sol {
    display: flex;
    align-items: center;
}

.topbar-sag {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}

.topbar-sol-butonlar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.github-logo {
    display: flex;
}

.github-logo img {
    height: 23px;
}

.github-logo img:hover {
    opacity: 0.8;
}

#topbar-cikis-buton {
    display: flex;
}

#topbar-cikis-buton img {
    height: 1rem;
}

#topbar-cikis-buton img:hover {
    opacity: 0.8;
}

.topbar-baslik {
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 0.8rem;

    text-decoration: none;
}

.topbar-logovebaslik {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.topbar-logo {
    height: 30px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .topbar-baslik {
        display: none;
    }
}

/* DIGER */
.a-renksiz * {
    color: black;
    text-decoration: none;
}

.a-renksiz:link,
.a-renksiz:visited {
    text-decoration: none;
    color: #0000EE;
}

.a-renksiz:hover {
    text-decoration: none;
}
