<div class="topbar">
    <div class="topbar-sol">
        <a href="/" class="a-renksiz">
            <div class="topbar-logovebaslik">
                <img src="/assets/img/logo.png" alt="Horroz.org Logo" class="topbar-logo">
                <div class="topbar-baslik">Kemik</div>
            </div>
        </a>
    </div>
    <div class="topbar-sag">
        <div class="topbar-sol-butonlar">
            <a href="https://github.com/horroz-org/kemik" class="github-logo"><img src="/assets/img/github.svg"></a>
            <a href="https://horroz.org/">Bağış</a>
        </div>
    </div>
</div>